header, nav, footer, .containder div{
    height: 10vh;
    border: 2px solid black;
    margin: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    font-size:x-large;
    color:  green;
}

body > * {
    border: 4px solid black;
    margin: 10px;
    text-align: center;
    font-family: fantasy;
    font-size:x-large;
    color:  green;
}

header{
    border-color: blueviolet;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 0;
}

nav{
    border-color: rgb(59, 11, 232);
    height: 40px;
    padding-bottom: 0;
    padding-top: 15px;
}

footer{
    border-color: rgb(255, 150, 22);
    height: 40px;
    padding-top: 15px;

}
section {
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    font-size: small;
    text-align: end;
    border:none; 
}
